SECRET_KEY=django-insecure-u0bwcarc=7ncj=5@5*4so#&%i&7n7_nf4@49wdard2e+8xxe83
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_URL=sqlite:///db.sqlite3
SITE_ID=1
LOGIN_REDIRECT_URL=/
LOGOUT_REDIRECT_URL=/
LOGIN_URL=/accounts/login/
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
MIDTRANS_MERCHANT_ID=M333639415
MIDTRANS_CLIENT_KEY=Mid-client-nvVOw_7nQXNbd7jU
MIDTRANS_SERVER_KEY=your-midtrans-server-key-here
MIDTRANS_IS_PRODUCTION=False
