# Environment variables (WAJIB - jangan sampai secret key masuk ke git!)
.env

# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Virtual environments
venv/
.venv/
env/

.env.env.*!.env.example__pycache__/*.pyc

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Distribution
dist/
build/
*.egg-info/
